<h3>w/o changeset</h3>
<p>Parent: {{parent.name}}</p>
<p>Parent's children length: {{parent.children.length}}</p>
<a {{action "addChild1"}}>Click to add a child</a>

<h3>w changeset</h3>
<p>Parent: {{changeset.name}}</p>
<p>Parent's children length: {{changeset.children.length}}</p>
<a {{action "addChild2"}}>Click to add a child</a>
